.itens {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemonTypes {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 12px;

  color: white;

  .Poke {
    padding: 10px;
    border-radius: 10px;
  }
}

.details {
  text-decoration: none;
}

.card {
  list-style: none;
  padding: 10px;
  color: #222;
  text-align: center;
  border-radius: 20px;
  position: relative;
  border: 1px solid black;
  height: 380px;
  width: 300px;

  .imagetype {
    width: 80px;
  }
}

.whiteBack {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-left: 28px;
  height: 110px;
  width: 110px;
  border-radius: 60px;
  padding: 10px;
}