.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #fff;
    bottom: 48px;
    font-size: 20px;
    font-weight: bold;

}

.active {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.theLinks {
    margin-left: 40px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.centrao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}